@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Crimson Pro", serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: "Geist Mono", monospace;
}

.App {
  text-align: center;
  position: relative;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/tajMahal.jpg") center/cover no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 740px;
  margin: auto;
}

.logoImage {
  /* border: 1px solid yellow; */
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.logoBox {
  margin-top: 1.2rem;
}

.logo-text {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 1;
}

.logo-caption {
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #f5e9d4;
  font-family: "Crimson Pro", serif;
}
.logo-small-text {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  color: rgb(183, 176, 156);
}
.small-asset {
  width: 200px;
  height: 50px;
  border: 1px solid red;
}

.red-text {
  margin-top: 0px;
  color: red;
}

h1 {
  font-size: 50px;
}

.header-text {
  color: #f5e9d4;
  max-width: 36rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0rem 0.2rem;
}
.primaryColor {
  color: #e02aff;
}

.secondaryColor {
  color: rgb(184, 65, 184);
}

.download-button {
  border: none;
  border-radius: 20px;
  padding: 0.8rem;
  margin-top: 0.5rem;
  background: #b35839;
  color: #e6e2d5;
  font-weight: 700;
  width: 98%;
  cursor: pointer;
  font-size: 1rem;
}
.download-button:hover {
  background: #bb694d;
}

.initial-screen-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #a49d90;
  border-style: dashed;
  border-radius: 15px;
}
.initial-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.luggage-icon {
  width: 8rem;
  height: 8rem;
  color: #a49d90;
  stroke-width: 1px;
}
.initial-screen p {
  font-size: 1rem;
  color: #989082;
  text-align: center;
}
.mainForm {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.formInput {
  background: #f5e9d4;
  border: none;
  outline: none;
  width: 100%;
  max-width: 400px;
  padding: 13px 20px;
  border-radius: 100px;
}

.formInput:focus {
  outline: 3px solid #b2a99c;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.mainButton {
  padding: 15px 25px;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #b35839;
  color: #e6e2d5;
  font-weight: 900;

  cursor: pointer;
}

.mainButton:hover {
  background-color: #bb694d;
}

.secondaryButton {
  padding: 15px 25px;
  border-radius: 20px;
  font-size: 1rem;
  border: 2px solid #b35839;
  outline: none;
  background-color: transparent;
  color: #e6e2d5;
  font-weight: 900;

  cursor: pointer;
}

.secondaryButton:hover {
  background-color: hsla(15, 52%, 46%, 50%);
}

button:disabled,
button:disabled:hover {
  background-color: #b7aeb9;
  border-color: #b7aeb9;
  color: white;
  cursor: not-allowed;
  opacity: 0.5;
}

.loading-spinner {
  display: inline-block;
  margin: auto;
  width: 70px;
  height: 70px;
  border: 10px solid #e6e2d5;
  border-radius: 50%;
  border-top-color: #b15939;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.response {
  display: flex;
  flex-direction: column;
  height: 60vh;
  max-width: 700px;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  overflow: auto;
  background: rgba(238, 230, 213, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;

  color: #1d2526;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.image-box {
  margin: auto;
}

.chat-line {
  margin-bottom: 0.75rem;
  white-space: pre-wrap;
}

.chat-author {
  font-weight: bold;
}
.chat-content {
  font-weight: 400;
  line-height: 1.4;
}
.bold {
  font-weight: 800;
}

@media screen and (min-width: 600px) {
  .logo-caption {
    font-size: 3.5rem;
  }
  .header-text {
    font-size: 1.2rem;
  }
  .mainForm {
    flex-direction: row;
  }
  .btn-container {
    flex-direction: row;
  }

  .initial-screen p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .mainForm input {
    width: auto;
  }
}
